---
layout: base
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.tag %}
    <hr>
    {% assign flag = 0 %}
    <ul>
    {% for p in site.pages %}
      {% if p.tag == page.tag %}
        {% if flag == 0 %}
          <h2><a href="{{p.url | relative_url }}">{{p.title | escape}}</a></h2>
          {% assign flag = 1 %}
        {% else %}
          <li><a href="{{p.url | relative_url }}">{{p.title | escape }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% for p in site.posts %}
      {% if p.tag == page.tag %}
      <li><a href="{{p.url | relative_url }}">{{p.title | escape }} [ {{p.date | date: "%Y/%m/%e"}} ]</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
</article>
